* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

button:focus {
  outline: unset !important;
}

nav,
footer {
  flex: 0 0 auto;
}

#contentFullHomePage {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

.container {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
  height: 100%;
}

.carouselImg {
  height: auto;
  display: block;
}

/* si je mets 100vh l'image est coupée */
.myCarousel {
  max-height: 90vh;

} 

.carousel-item {
  object-fit: contain;
  overflow: hidden;
  /* height: 100vh; */
}

#bgHomePage {
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  /* background-image: url(../img/IMG_20200809_135623.jpg); */
  background: linear-gradient(70deg, black, whitesmoke, black);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: contrast(1);
  /* flex: 1; */
  display: flex;
  align-items: center;
}


.navbar {
  background-color: black !important;
  font-family: 'poppins', sans-serif;
  color: white;
  border-bottom: 6px solid #D4514A;
}

.navbar-toggler-collapsed {
  background-color: white !important;
  color: white;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #D4514A !important;
  transform: scale(1.05);
}

.connectionIcon {
  color: white;
}

.connectionIcon:hover {
  color: #D4514A;
  transform: scale(1.4);
}

/* le burger */

span.navbar-toggler-icon {
  color: white !important;
  background-image: unset;
}

.homeImg {
  height: 100%;
  object-fit: contain;
}

.homeImg:hover {
  transform: scale(1.1);
}

.map {
  max-width: 100%;
}

.myAdminButton {
  background-color: #D4514A;
  font-weight: bold;
}

.myAdminButton:hover {
  background-color: #D4514A;
  font-weight: bold;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

footer {
  width: 100%;
  background-color: black !important;
  border-top: 6px solid #D4514A;
  line-height: 1;
  color: white;
}

.footerContainer {
  justify-content: space-around;
}

#myFooter {
  width: 100%;
}

.mailFooter {
  color: white !important;
}

.adresseFooter {
  color: white !important;
}

.adresseFooter:hover {
  color: #D4514A !important;
  text-decoration: none;
}

.mailFooter:hover {
  color: #D4514A !important;
  text-decoration: none;
}

.phoneFooter {
  color: white !important;
}

.phoneFooter:hover {
  color: #D4514A !important;
  text-decoration: none;
}

.mentionsFooter {
  color: white !important;
}

.mentionsFooter:hover {
  color: #D4514A !important;
  text-decoration: none;
}

.socialNetworks {
  color: white !important;
  font-size: 20px;
}

.socialNetworksHover :hover {
  color: #D4514A !important;
  transform: scale(1.2);
}


.adminPage{
min-height: 100vh;
}

.myAdminButton {
  background-color: #D4514A;
  font-weight: bold;
}


.uploadDeleteButtons {
  background-color: #D4514A;
  font-weight: bold;
}

.uploadDeleteButtons:hover {
  background-color: #D4514A;
  font-weight: bold;
  box-shadow: 0 4px #666;
  transform: translateY(2px);
}

.addNewMeal {
  background-color: #D4514A;
  font-weight: bold;
}

.addNewMeal:hover {
  color: black !important;
  box-shadow: 0 4px #666;
  transform: translateY(2px);
}


/* Style Modal */