* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

button:focus {
  outline: unset !important;
}

nav,
footer {
  flex: 0 0 auto;
}

#contentFullHomePage {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

.container {
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
  height: 100%;
}

.carousel-item {
  height: 80vh;
}

.carousel-inner {
  height: 100%;
  width: 100%;
}

.logo {
  height: 3.5rem;
}

#bgHomePage {
  /* height: 100%; */
  margin: 0px;
  padding: 0px;
  /* background-image: url(../img/IMG_20200809_135623.jpg); */
  background: linear-gradient(70deg, black, whitesmoke, black);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: contrast(1);
  /* flex: 1; */
  display: flex;
  align-items: center;
}

.navbar {
  background-color: black !important;
  color: white;
  border-bottom: 6px solid #D4514A;
}

.navbar-toggler-collapsed {
  background-color: white !important;
  color: white;
}

.nav-link {
  color: white !important;
  font-size: 0.9em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.nav-link:hover {
  color: #D4514A !important;
  transform: scale(1.05);
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.connectionIcon{
  color: white;
}


.connectionIcon:hover {
  color: #D4514A;
  transform: scale(1.4);
}

/* le burger */

span.navbar-toggler-icon {
  color: white !important;
  background-image: unset;
}

.homeImg {
  height: 100%;
  object-fit: contain;
}


.bandeauImg {
  width: 100%;
  /*object-fit: cover;*/
  background-attachment: fixed;
  background-image: url('/assets/img/salletest.jpg');
  height: 600px;
  /*margin: 0 auto;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.sectionLanecdote {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 0px;
}


.lanecdoteTitle {
  text-align: center;
  font-size: 2.5em;
  color: whitesmoke;
  Font-Family: 'Cormorant Garamond', Serif;
}


h3 {
  font-size: 2em;
  text-align: center;
  color: whitesmoke;
  Font-Family: 'Cormorant Garamond', Serif;

}

.lanecdoteprez {
  font-size: 0.9em;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

.chefFoto {
  max-width: 50%;
  max-height: 80vh;
  object-fit: contain;
}

.paragrafChef {
  font-size: 1.4em;
}

#teamPrez {
  width: 100vh;
  background-color: black;
  color: white;
  margin: 0%;
  padding: 0%;
}

.map {
  max-width: 100%;
}

.myAdminButton {
  background-color: #D4514A;
  font-weight: bold;
}

.myAdminButton:hover {
  background-color: #D4514A;
  font-weight: bold;
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}


.myCarousel {
  object-fit: cover;
  width: 100vh;
}

.footerContainer {
  justify-content: space-around;
  height: 100%;
  line-height: 1%;
}

#myFooter {
  width: 100%;
  background-color: black !important;
  border-top: 6px solid #D4514A;
  color: white;
  font-size: 0.8em;
  padding: 1.3rem 0rem;
}

.mailFooter {
  color: white !important;
}

.adresseFooter {
  color: white !important;
}

.adresseFooter:hover {
  color: #D4514A !important;
  text-decoration: none;
}

.mailFooter:hover {
  color: #D4514A !important;
  text-decoration: none;
}

.phoneFooter {
  color: white !important;
}

.phoneFooter:hover {
  color: #D4514A !important;
  text-decoration: none;
}

.mentionsFooter {
  color: white !important;

}

.mentionsFooter:hover {
  color: #D4514A !important;
  text-decoration: none;
}

.socialNetworks {
  color: white !important;
  font-size: 20px;
}

.socialNetworksHover :hover {
  color: #D4514A !important;
  transform: scale(1.2);
}

.adminPage {
  min-height: 100vh;
}

.myAdminButton {
  background-color: #D4514A;
  font-weight: bold;
}

.imgGestionPlatMenu {
  height: 350px;
  width: 350px;
  border-radius: 2%;
  object-fit: cover;
  margin-top: 150px;
}

.updateDeleteButtons {
  background-color: #D4514A;
  font-weight: bold;
}

.updateDeleteButtons:hover {
  background-color: #D4514A;
  font-weight: bold;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.addNewMeal {
  background-color: #D4514A;
  font-weight: bold;
}

.addNewMeal:hover {
  color: black !important;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.addNewDrink {
  background-color: #D4514A;
  font-weight: bold;
}

.addNewDrink:hover {
  color: black !important;
  box-shadow: 0 2px #666;
  transform: translateY(1px);
}

.myForm {
  max-width: 100%;
  justify-content: center;
  /* background: grey; */
  border-radius: 2px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

.formSize{
height: 300px;

}

.infoButtonEdit {
  position: relative;
}

.infoButtonEdit:hover .infoModifier {
  display: block;
}

.infoModifier {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  color: white;
  font-size: 12px;
  opacity: 0.5;
  width: 100%;
  display: none;
}

.infoButtonDelete {
  position: relative;
}

.infoButtonDelete:hover .infoDelete {
  display: block;
}

.infoDelete {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  color: white;
  font-size: 12px;
  opacity: 0.5;
  width: 100%;
  display: none;
}

.nameColumn {
  width: 20%;
}

.nthPerso:nth-child(odd) {
  background-color: #686868;
}

legend.mealCardTitle {
  font-size: 1.2rem;
}

p.mealCardBody {
  font-size: 1rem;
}

.suppSize {
  font-size: 0.9rem;
}

.contentPrice {
  min-width: 5rem;
}

.card-header {
  background-color: black !important;
  color: #D3C974;
  font-size: 1.2rem;
  font-style: italic;
}

.imgBgLacarte {
  background-image: url(../img/maintest.jpg);
  background-size: cover;
  background-attachment: fixed;
}

.imgBgDrinks {
  background-image: url(../img/wines2.jpg);
  background-size: cover;
  background-attachment: fixed;
}

p.drinkCardBody {
  font-size: 1rem;
}

.drinkPriceSize {
  font-size: 1rem;
}

.textChef {
  width: 600px;
  max-width: 100%;
  padding: 0.5rem;
  background-color: white;
  color: black;
  border: 1px solid #D3C974;
  text-align: center;
}

.imgTextChef {
  width: fit-content;
  margin: 0 auto;
}

.reverseComma {
  height: 2em;
  color: #D3C974 !important;
}

.suspensionPoint {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}

.overflow-scroll-y{
  overflow-y: scroll;
}

.overflow-scroll-y::-webkit-scrollbar-track{
  /* box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	background-color: transparent;
  border-radius: 3px;
}

.overflow-scroll-y::-webkit-scrollbar{
	width: 4px;
	background-color: transparent;
  border-radius: 3px;
}

.overflow-scroll-y::-webkit-scrollbar-thumb{
	background-color:transparent;
  border-radius: 3px;
  opacity: 0.1;
}

.legendForm{
text-align: center;
color: whitesmoke;
}

.imgBgLacarteModifForm{
  height: 100vh;
  background-image: url(../img/maintest.jpg);
  background-size: cover;
}

.informationsTable{
color: whitesmoke;
}

.bgImgAdmin{
  background-image: url(../img/login3.jpg);
  background-size: cover;
  height: 100vh;
}

.adminForm{
 margin-top: 100px ;
}
 
.platEtMenuTitle{
  Font-Family: 'Cormorant Garamond', Serif;
  font-size: 26px;
}

.modifyDrinkForm {
align-items: center;
margin-top: 100px;


}